# Prerequisites: Do not upload the massive libraries or binaries
*.exe
*.o
*.obj
*.dll

# VS Code specific files that might contain local paths
.vscode/
*.log

# SFML specific binaries if you moved them
bin/
